
@font-face{font-family:MontserratR;src: url(../vendor/font-awesome/fonts/Montserrat-Regular.otf);}




@font-face{font-family:lato-regular;src: url(../vendor/font-awesome/fonts/Lato-Regular.ttf);}



@font-face{font-family:lato-light;src: url(../vendor/font-awesome/fonts/Lato-Light.ttf);}


@font-face{font-family:lato-thin;src: url(../vendor/font-awesome/fonts/Lato-Thin.ttf);}